/.Xauthority
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.claude
/.claude.json
/.codex
/.config
/.copilot
/.dbus
/.dotnet
/.lesshst
/.lgd-nfy0
/.local
/.mozilla
/.pp_backup
/.presage
/.profile
/.ssh
/.sudo_as_admin_successful
/.vnc
/.vscode-server
/.wget-hsts
/.xinputrc
/.xsession-errors
/.xsession-errors.old
/Bookshelf
/Desktop
/mu_code
/nextcloud
/ダウンロード
/テンプレート
/ドキュメント
/ビデオ
/公開
/画像
/音楽
/projects/biliLive-tools
__pycache__/
*.pyc
